* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Aladin", Times, "Times New Roman", serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url("./images/IMG-20201006-WA0000.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.game-name {
  width: 250px;
  text-align: center;
  background-color: hsla(60, 56%, 91%, 0.9);
  margin-bottom: 15px;
  border: 1px solid brown;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px darkgreen, inset 0 0 40px saddlebrown;
  .game-name-text {
    font-family: "Aladin", Times, "Times New Roman", serif;
    color: saddlebrown;
    text-shadow: 2px 2px 5px darkgreen;
    font-size: 3.5rem;
    margin: 0;
  }
}
.container {
  display: grid;
  grid-template-columns: 350px;
  grid-template-rows: 450px 100px;
  width: 350px;
  height: 550px;
  background-color: hsla(60, 56%, 91%, 0.9);
  margin: 0;
  border: 1px solid brown;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px darkgreen, inset 0 0 40px saddlebrown;
  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 340px;
    margin: 0;
    padding: 5px;
    font-size: 1.4rem;
    font-weight: 600;
    // text-shadow: 1px 1px 1px rgb(0, 39, 7);
    text-align: center;
  }
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    margin: 0;
    padding: 5px;
    .btn1,
    .btn2 {
      background-color: rgba(139, 69, 19, 0.8);
      box-shadow: 0 0 10px 2px darkgreen, inset 0 0 40px saddlebrown;
      border: 1px solid saddlebrown;
      border-radius: 10px;
      padding: 5px 10px;
      margin: 0px 10px 3px 10px;
      color: rgb(0, 75, 0);
      text-shadow: 0.5px 0.5px 0.5px black;
      outline: none;
      font-size: 1.5rem;
      transition: opacity 2s;
      // outline: none;
    }
  }
}

@media only screen and (min-width: 768px) {
  .btn1,
  .btn2 {
    &:hover {
      box-shadow: 0px 0px 5px 5px brown;
    }
  }
}
